* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://image.tmdb.org/t/p/original/9mNklILambgAb1mUm8912yaSjar.jpg")
}

/* Cambio color fondo barras nav*/
nav.navbar {
    background-color: #AB2848;
}